{% extends 'base.html.twig' %}

{% block title %}Customers{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background-color: #1b2332;
            padding: 3em;
            font-family: sans-serif;
            color: white;
        }

        thead {
            text-decoration-line: underline;
            font-weight: bold;
            color: white;
        }

        td {
            padding-right: 1.2em;
            padding-bottom: 0.8em;
        }

        a {
            color: cornflowerblue;
        }
    </style>
{% endblock %}

{% block body %}
<h1>Customers</h1>
    <table>
        <thead>
            <tr>
                <td>Name</td><td>E-mail</td><td>Address</td><td>City</td><td>Country</td>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td><a href="/customer/edit/{{ customer.id }}">{{ customer.name }}</a></td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.address }}</td>
                <td>{{  customer.city }}</td>
                <td>{{  customer.country }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>
    <a href="/customer/new">Add new customer</a>
{% endblock %}
